<form action="" method="post" class="edit-form" role="form">
    <table cellpadding="0" cellspacing="0" class="admin-overview">
    <thead>
        <tr>
            <th width="10%"></th>
            <th width="45%" class="text-left">*Translated phrase*</th>
            <th width="45%" class="text-left">*Translation*</th>
        </tr>
    </thead>
    <tbody>
        ~items~
        <tr class="editable" data-id="null">
            <td width="10%">
                <a href="#"
                   data-model="modules\translations\models\translations"
                   data-m-action="dynamic_edit"
                   data-m-context="tr[data-id='null']"
                   class="edit save"><i class="fa fa-edit"></i></a>
                <a href="#"
                   data-model="modules\translations\models\translations"
                   data-m-action="dynamic_edit"
                   data-m-context="tr[data-id='null']"
                   class="delete"
                   title="*Delete*"><i class="fa fa-trash"></i></a>
                <input type="hidden" data-edit="language" value="~language_id~">
            </td>
            <td class="text-left" width="45%"><span data-edit="name"><textarea placeholder="*Type new phrase*"></textarea></span></td>
            <td class="text-left" width="45%"><span data-edit="value"><textarea placeholder="*A phrase translation*"></textarea></span><input type="hidden" data-edit="route" value="~route~"></td>
        </tr>
    </tbody>
    </table>
</form>