<tr data-id="~name_code~">
    <td width="10%">
        <a href="#"
           data-model="modules\translations\models\translations"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~name_code~"]'
           title="*Edit*"
           class="edit"><i class="fa fa-edit"></i></a>
        <a href="#"
           data-model="modules\translations\models\translations"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~name_code~"]'
           class="delete"
           title="*Delete*"><i class="fa fa-trash"></i></a>
    </td>
    <td width="45%" class="text-left"><span data-edit="name">~name~</span></td>
    <td width="45%" class="text-left"><span data-edit="value">~value~</span><input type="hidden" data-edit="route" value="~route~"></td>
</tr>